.photogrid {
/*	border: 1px solid red;*/
}

.photogridtext {
	margin-right: 5%;
	float: left;
	width: 40%;
	margin: 2% 0 0 2%;
}

.galleryholder {
/*	border: 1px solid red;
*/	float: right;
	width: 50%;
	margin: 5% 0;

}


.imgGrid1, .imgGrid2, .imgGrid3, .imgGrid4, .imgGrid5, .imgGrid6, .imgGrid7, .imgGrid8, .imgGrid9 {
    width: 32%;
    float: left;
    padding:15%;
    background-size:cover;
}

.imgGrid1:hover, .imgGrid2:hover, .imgGrid3:hover, .imgGrid4:hover, .imgGrid5:hover, .imgGrid6:hover, .imgGrid7:hover, .imgGrid8:hover, .imgGrid9:hover  {
	background: #FF6347;
    padding: 3%;
}

.caption {
    display: block;
    // -webkit-transition: opacity 0.5s ease-in;
    opacity: 0;
    position: relative;
    width: 100%;
    height: 0;
    color: white;
    font-weight: 700;
    line-height: 1.5em;
    font-size: 0.9rem;
    font-family: Raleway; 
}

.imgGrid1:hover .caption, .imgGrid2:hover .caption, .imgGrid3:hover .caption, .imgGrid4:hover .caption, .imgGrid5:hover .caption, .imgGrid6:hover .caption, .imgGrid7:hover .caption, .imgGrid8:hover .caption, .imgGrid9:hover .caption  {
     display: block;
     opacity: 1;
     height: auto;
     padding: 15% 0;
}

.imgGrid1 {
	margin: 0 2% 2% 0;
	background-image: url('images/coffeetime.jpg');
}


.imgGrid2 {
	margin: 0 2% 2% 0;
	background-image: url('images/cereal.jpg');
}




.imgGrid3 {
	margin: 0 0 2% 0;
	background-image: url('images/morecoffee.jpg');
}



.imgGrid4 {
	margin: 0 2% 2% 0;
	background-image: url('images/rybagel.jpg');
}


.imgGrid5 {
	margin: 0 2% 2% 0;
	background-image: url('images/beans.jpg');
}


.imgGrid6 {
	margin: 0 0 2% 0;
	background-image: url('images/hotchoc.jpg');
}

.imgGrid7 {
	margin: 0 2% 2% 0;
	background-image: url('images/granola.jpg');
}

.imgGrid8 {
	margin: 0 2% 2% 0;
	background-image: url('images/smoothie.jpg');
}


.imgGrid9 {
	margin: 0 0 2% 0;
	background-image: url('images/bananabread.jpg');
}
